.navLiens:hover {
    background: rgb(243, 143, 12);
    border-radius: 5px;
    color: white;
    transition: all 0.3s ease-in-out;
}
.navLiens {
    text-transform: uppercase;
    font-size: small;
}
.logoText {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(240, 134, 35);
    font-size: 30px;
}
@media screen and (max-width: 768px) {
    .navLiens {
        font-size: 12px;
    }
    .logoText {
        font-size: 24px;
    }
    nav{
        padding: 0;
    }
}
    *{
        font-family: tahoma ;
    }